.MessageBar {
  font-family: "Varela Round", sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "content";
  justify-content: center;
  align-items: center;
}

.content {
  inline-size: 36rem;
  text-align: center;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  block-size: 2rem;
}

.ErrorStrip {
  background-color: #ea1010;
  color: #ffffff;
}

.SuccessStrip {
  background-color: #00a800;
  color: #ffffff;
}

.ProcessingStrip {
  background-color: #0070f2;
  color: #ffffff;
}
